services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
  frontend:
    build:
      context: ./frontend
      target: prod
      args:
        VITE_API_URL: http://localhost:8000
    ports:
      - "4173:4173"
    depends_on:
      - backend
networks:
  default:
    driver: bridge