version: "3.9"

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    networks:
      - app_net

  frontend:
    build:
      context: ./frontend
      target: dev     # dev / prod
    ports:
      - "3000:5173"   # dev: 5173 → наружу 3000
      - "3000:4173"   # prod: 4173 → наружу 3000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - app_net

networks:
  app_net:
    driver: bridge
